{% extends "index.html" %}
{% block content %}
<h2>Registro de Nuevo Edificio</h2>
<div class="formulario-basico">
    <form action="/crear/edificio" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
        
        <label>Dirección:</label>
        <input type="text" name="direccion" required>
        
        <label>Ciudad:</label>
        <input type="text" name="ciudad" required>
        
        <label>Tipo:</label>
        <select name="tipo">
            <option value="residencial">Residencial</option>
            <option value="comercial">Comercial</option>
        </select>
        
        <button type="submit" class="boton-enviar">Guardar</button>
    </form>
</div>
{% endblock %}
